@import 'tailwindcss';
@import "tw-animate-css";
@import "@yoink/theme/variables.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
