@import "tailwindcss";
@source "../../../packages/ui-base/src/**/*.{ts,tsx}";
@import "tw-animate-css";
@import "@yoink/ui-base/styles/variables.css";

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
